@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --default-font-family:"Poppins", sans-serif;
  --color-gray: *;
  --color-gray-100: #E5E5E5;
  --color-gray-200: #C4C4C4;
  --color-gray-300: #474747; 
  --color-gray-600: #222222;
  --color-blue-50:  #60BBEE;
  --color-blue-100: #399FD8;
  --color-blue-200: #0775B4; 
  --color-blue-300: #2387C0;
  --color-blue-500: #003756;
  --color-blue-600: #0A72AD;


}

/*60BBEE 0A72AD  */
